<template>
  <section id="About" class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="is-flex is-justify-content-left is-align-items-center is-flex-row">
            <hr class="is-flex-grow-5"/>
            <h1 class="title is-3 has-text-white mb-0 pl-5">
              <span class="has-text-primary">03.</span>
              About Me
            </h1>
          </div>
          <p class="mt-5 is-size-5 has-text-grey-light has-text-justified">
            Hello! You can call me ROCKET from <span class="has-text-primary">Dhaka</span> / <span class="has-text-primary">Bangladesh</span>.
            <br /> <br />
            A dedicated professional <span class="has-text-primary">IT Specialist </span> /  <span class="has-text-primary">Administrator</span> with a passion for Exploring new things.
            <br /> <br />
            Currently working as a sole
            <span class="has-text-primary">IT Officer</span> /
            <span class="has-text-primary">Administrator</span> /
            <span class="has-text-primary">Programmer</span>
            at a top ranking <a class="has-text-primary" href="https://bab.gov.bd/">BAB</a> & <a class="has-text-primary" href="https://nabl-india.org/">NABL</a> certified Calibration Certification company <a class="has-text-primary" href="https://ionbd.com">ION Engineering Pvt. Ltd.</a>
            <br /> <br />
            A few of other activities that I do.
          </p>
          <div class="columns is-gapless has-text-primary mt-4">
            <div class="column">
              <ul>
                <li>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-post"></i>
                  </span>
                  Networking & Blogging
                </li>
                <li>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-ethernet"></i>
                  </span>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-web"></i>
                  </span>
                  Top Tech Research
                </li>
                <li>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-git"></i>
                  </span>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-github"></i>
                  </span>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-gitlab"></i>
                  </span>
                  Process Automation
                </li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-bug-check-outline"></i>
                  </span>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-server-network"></i>
                  </span>
                  Usability Testing
                </li>
                <li>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-monitor-dashboard"></i>
                  </span>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-tablet-dashboard"></i>
                  </span>
                  Monitoring
                </li>
                <li>
                  <span class="icon is-small mr-3">
                    <i class="mdi mdi-24px mdi-french-fries"></i>
                  </span>
                  <span class="icon is-small">
                    <i class="mdi mdi-24px mdi-youtube-tv"></i>
                  </span>
                  FOOD & Documentory
                </li>
              </ul>
            </div>
          </div>
          <br/>
          <br/>
        </div>
        <div class="column">
          <div class="profileContainer m-auto">
            <figure class="image is-4by5">
              <img src="/profile.jpg" alt="Profile Image">
            </figure>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</template>
<style scoped>
hr {
  height: 1px;
}
.profileContainer {
  max-width: 260px;
  max-height: 325px;
  border: 3px solid #6ff9da;
  border-radius: 3px;
}
figure {
  position: relative;
  top: -15px;
  left: -15px;
  border-radius: 5px;
  border: 0.1px solid #fff;
}
img {
  border-radius: 5px;
}
</style>