<script setup>
import NavBar from '@/NavBar.vue'
import HeroSection from '@/HeroSection.vue'
// import RocketIcon from '@/RocketIcon.vue'
import ExperienceSection from '@/ExperienceSection.vue'
import ProjectSection from '@/ProjectSection.vue'
import AboutSection from '@/AboutSection.vue'
import ContactSection from '@/ContactSection.vue'
import SocialSidebar from '@/SocialSidebar.vue'

</script>

<template>
<main class="has-background-info is-family-code">
  <NavBar />
  <SocialSidebar />
  <!-- <RocketIcon /> -->
  <HeroSection />
  <ExperienceSection />
  <ProjectSection />
  <AboutSection />
  <ContactSection />

</main>
</template>

<style lang="scss">
@charset "UTF-8";

// Fonts and icons
$mdi-font-path: '@mdi/font/fonts';
@import '@mdi/font/scss/materialdesignicons.scss';

// Variable
@import 'bulma/sass/utilities/initial-variables';
$primary: #6ff9da;
$info: #0a192f;

@import "bulma/bulma";

table {
  td, th, tr {
    vertical-align: middle !important;
  }
}
</style>
