<template>
  <section id="Contact" class="section is-medium">
    <div class="container">
      <div class="readerContainer m-auto">
        <h2 class="subtitle is-4 has-text-primary has-text-centered">04. What's Next</h2>
        <h1 class="title is-1 has-text-white has-text-centered">Get In Touch</h1>

        <p class="mt-5 is-size-5 has-text-grey-light has-text-centered">
          Whether you have a quistion or just want to say hellow,
          I'll try my best to get back to you! Feel free to knock
          me about any relevent job updates.
        </p>

        <p class="has-text-primary has-text-centered mt-5">+8801979994211</p>
        <p class="has-text-primary has-text-centered mt-2">jahidhsn002@gmail.com</p>
        
        <div class="has-text-centered mt-5">
          <a href="https://www.linkedin.com/in/jahidhasan0" class="has-text-primary">
            <span class="icon is-large">
              <i class="mdi mdi-36px mdi-linkedin"></i>
            </span>
          </a>
          <a href="https://www.facebook.com/jahidhasan0" class="has-text-primary">
            <span class="icon is-large">
              <i class="mdi mdi-36px mdi-facebook"></i>
            </span>
          </a>
          <a href="https://github.com/jahidhsn002" class="has-text-primary">
            <span class="icon is-large">
              <i class="mdi mdi-36px mdi-github"></i>
            </span>
          </a>
          <a href="https://gitlab.com/jahidhsn002" class="has-text-primary">
            <span class="icon is-large">
              <i class="mdi mdi-36px mdi-gitlab"></i>
            </span>
          </a>
        </div>

        <br/>
        <br/>

        <div class="has-text-centered">
          <a href="tel:+8801979994211" class="button is-medium is-primary is-outlined mr-3">
            <span class="icon is-small mr-2">
              <i class="mdi mdi-24px mdi-phone"></i>
            </span>
            <span>Call Me</span>
          </a>
          <a href="mailto:jahidhsn002@gmail.com" class="button is-medium is-primary is-outlined">
            <span class="icon is-small mr-2">
              <i class="mdi mdi-24px mdi-email"></i>
            </span>
            <span>Mail Me</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
.readerContainer {
  max-width: 700px;
}
</style>