<template>
<section id="Hello" class="hero is-fullheight-with-navbar is-info">
  <div class="hero-body">
    <div class="container">
      <p class="subtitle has-text-primary is-5">Hello, my name is</p>
      <h1 class="title is-1">Jahid Hasan (Rocket)</h1>
      <h2 class="title is-1 has-text-grey-lighter">I Love exploring new things!</h2>
      <p class="is-size-5 has-text-grey-light">
        A <span class="has-text-primary">IT Support Specialist</span> from ION Engineering Pvt. Ltd. Primarily specilaized in 
        <br/> IT & Network Support, <span class="has-text-primary">Process Automation</span>, Python, JavaScript, IaaS, PaaS, NaaS, SaaS,
        <br/> System & Infustructure <span class="has-text-primary">Planning</span>, <span class="has-text-primary">Administration</span>, <span class="has-text-primary">Management</span>,
        Small Scale rapid Software <br/> Development, Deployment & Documentation.
      </p>
      <p class="is-size-5 mt-5 has-text-grey-light">
        ``The key to life is accepting challenges. Once someone stops doing this, he's dead..``
      </p>
      <h6 class="title is-6 has-text-grey-lighter">- Bette Davis</h6>
      <br/>
      <br/>
      <a href="#Contact" class="button is-large is-primary is-outlined">
        Get In Touch
      </a>
    </div>
  </div>
</section>
</template>
<style scoped>
h1.title.is-1 {
  font-size: 60px;
}
h2.title.is-1 {
  font-size: 70px;
}
@media only screen and (max-width: 1023px) {
  h1.title.is-1 {
    font-size: 40px;
  }
  h2.title.is-1 {
    font-size: 30px;
  }
}
</style>