<script setup>
import { ref } from 'vue'

const isOpen = ref(false)
</script>

<template>
<nav class="navbar is-info navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#Hello">
        <span class="icon is-medium mr-2">
          <i class="mdi mdi-36px mdi-console-line"></i>
        </span>
        <span>JAHID HASAN (ROCKET)</span>
      </a>

      <a @click.prevent="isOpen=!isOpen" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div :class="`navbar-menu ${isOpen?'is-active':''}`">

      <div class="navbar-end">
        <a href="#Hello" class="navbar-item px-5" @click="isOpen=false">
          <span class="mr-3 has-text-primary">00.</span> Hello
        </a>
        <a href="#Experience" class="navbar-item px-5" @click="isOpen=false">
          <span class="mr-3 has-text-primary">01.</span> Experience
        </a>
        <a href="#Projects" class="navbar-item px-5" @click="isOpen=false">
          <span class="mr-3 has-text-primary">02.</span> Projects
        </a>

        <a href="#About" class="navbar-item px-5" @click="isOpen=false">
          <span class="mr-3 has-text-primary">03.</span> About
        </a>
        <a href="#Contact" class="navbar-item px-5" @click="isOpen=false">
          <span class="mr-3 has-text-primary">04.</span> Contact
        </a>

        <div class="navbar-item">
          <a href="cv-resume.pdf" class="button is-primary is-outlined" @click="isOpen=false">
            <strong>CV / RESUME</strong>
            <span class="icon is-medium ml-2">
              <i class="mdi mdi-24px mdi-download"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<style scoped>
.navbar {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}
.navbar-menu {
  background-color: inherit;
}
.navbar-menu a {
  color: inherit;
}
</style>