<template>
  <section id="Projects" class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        
        <div class="column">
          <div class="is-flex is-justify-content-left is-align-items-center is-flex-row">
            <h1 class="title is-3 has-text-white mb-0 pr-5">
              <span class="has-text-primary">02.</span>
              Projects
            </h1>
            <hr class="is-flex-grow-5"/>
          </div>
        </div>

        <div class="column">
          <div class="mt-0 has-text-left">
            <h4 class="subtitle has-text-grey-light is-5"><span class="has-text-primary">100+ projects & Optimizations</span>. Here are few notable ones...</h4>
          </div>
        </div>

      </div>

      <h4 class="title has-text-grey-light is-5"><span class="has-text-primary">Deployment, Maintainence and Support</span> of in-house <span class="has-text-primary">Certificate Making</span> software for <span class="has-text-primary">1.5+ Years</span>.</h4>
      <h4 class="subtitle has-text-grey-light is-6">
        <span class="has-text-warning">Impect:</span>
        Reduce entry level position skill barrier from <span class="has-text-primary">6 Months</span> to 
        <span class="has-text-primary">20 Days</span> Training. Increse avg. productivity <span class="has-text-primary">32</span>
        to <span class="has-text-primary">107</span> Certificates /person /day. 
      </h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-2x1" v-for="i in 6" :key="i">
          <img :src="`/portfolio/cdlp${i+1}.png`" style="height: 128px;">
        </figure>
      </div>

      <h4 class="title has-text-grey-light is-5"><span class="has-text-primary">Plan & Maintainen</span> master <span class="has-text-primary">Equipment Tracing</span> solution for <span class="has-text-primary">1+ Year</span>.</h4>
      <h4 class="subtitle has-text-grey-light is-6">
        <span class="has-text-warning">Impect:</span>
        Reduce entry level position skill barrier from <span class="has-text-primary">6 Months</span> to 
        <span class="has-text-primary">20 Days</span> Training. Increse avg. productivity <span class="has-text-primary">32</span>
        to <span class="has-text-primary">107</span> Certificates /person /day. 
      </h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
      </div>

      <h4 class="title has-text-grey-light is-5"><span class="has-text-primary">Planning & Deployment</span> of in-house <span class="has-text-primary">Lead Monitoring</span> solutions</h4>
      <h4 class="subtitle has-text-grey-light is-6">
        <span class="has-text-warning">Impect:</span>
        Lost lead recovered by <span class="has-text-primary">36%</span> and monthly sales incresed by <span class="has-text-primary">7.2%</span>.</h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-2x1">
          <img src="/portfolio/ldap1.png" style="height: 128px;">
        </figure>
        <figure class="is-inline-block m-1 image is-2x1">
          <img src="/portfolio/ldap2.png" style="height: 128px;">
        </figure>
        <figure class="is-inline-block m-1 image is-2x1">
          <img src="/portfolio/ldap3.png" style="height: 128px;">
        </figure>
      </div>

      <h4 class="subtitle has-text-grey-light is-5"><span class="has-text-primary">100+ projects & Optimizations</span>. Here are few notable ones...</h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/placeholders/128x128.png">
        </figure>
      </div>

      <h4 class="title has-text-grey-light is-5"><span class="has-text-primary">Mash Hotspot</span> and 3 <span class="has-text-primary">Wireless Backhaul</span> planning & Deployment</h4>
      <h4 class="subtitle has-text-grey-light is-6">
        <span class="has-text-warning">Impect:</span>
        Increse <span class="has-text-primary">Profit Margin</span> by <span class="has-text-primary">17%</span> within next <span class="has-text-primary">3 Month</span>.
        Reduce Internet <span class="has-text-primary">Blackout</span> support calls by <span class="has-text-primary">72%</span>.</h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf1.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf2.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf3.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf4.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf5.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/wpf6.jpg">
        </figure>
      </div>

      <h4 class="title has-text-grey-light is-5">Small to Mid level <span class="has-text-primary">Office Networking</span> & <span class="has-text-primary">IT Support</span></h4>
      <h4 class="subtitle has-text-grey-light is-6"><span class="has-text-warning">Impect:</span> <span class="has-text-primary">12 On-Site</span> network planning and deployment. <span class="has-text-primary">600+</span> On-Site <span class="has-text-primary">Troubleshooting</span> support at <span class="has-text-primary">consumer level</span>.</h4>
      <div class="">
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/npf1.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/npf2.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/npf3.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128 pt-5 has-background-white">
          <img src="/portfolio/npf4.jpg">
        </figure>
        <figure class="is-inline-block m-1 image is-128x128">
          <img src="/portfolio/npf5.jpg">
        </figure>
      </div>

      <h4 class="subtitle has-text-grey-light is-5 mt-6">Few WebSites that I have Build & Maintained...</h4>
      <div class="">
        <a class="is-inline-block has-text-white" href="https://dainiktathya.com">
          <figure class="is-inline-block m-1 image is-128x128 has-background-white pt-6">
            <img src="/portfolio/spf1.png">
          </figure> <br/>
          <span>Newspaper</span>
        </a>
        <a class="is-inline-block has-text-white" href="https://kalerchaka.com">
          <figure class="is-inline-block m-1 image is-128x128 has-background-white pt-6">
            <img src="/portfolio/spf2.jpg">
          </figure> <br/>
          <span>Newspaper</span>
        </a>
        <a class="is-inline-block has-text-white" href="https://ion.com.mm">
          <figure class="is-inline-block m-1 image is-128x128 has-background-white pt-5">
            <img src="/portfolio/spf3.png">
          </figure> <br/>
          <span>Mianmer WEB</span>
        </a>
        <a class="is-inline-block has-text-white" href="https://ionbd.com">
          <figure class="is-inline-block m-1 image is-128x128 has-background-white pt-5">
            <img src="/portfolio/spf3.png">
          </figure> <br/>
          <span>Wordpress</span>
        </a>
        <a class="is-inline-block has-text-white" href="https://mobilepara.com/en/infinix/hot-11s/latest-price-offers-and-discounts-in-bangladesh">
          <figure class="is-inline-block m-1 image is-128x128 has-background-white p-6">
            <img src="/portfolio/spf4.png">
          </figure> <br/>
          <span>Rapid Blog</span>
        </a>
      </div>

      <br/>
    </div>
  </section>
</template>
<style scoped>
hr {
  height: 1px;
}
.profileContainer {
  max-width: 260px;
  max-height: 325px;
  border: 3px solid #6ff9da;
  border-radius: 3px;
}
figure {
  position: relative;
  top: -15px;
  left: -15px;
  border-radius: 5px;
  border: 0.1px solid #fff;
}
img {
  border-radius: 5px;
}
</style>