<template>
<div class="social-sidebar is-fixed is-left">
  <div class="is-flex is-flex-direction-column is-justify-content-center is-aligh-items-center">
    <a href="https://www.linkedin.com/in/jahidhasan0" class="has-text-primary">
      <span class="icon is-large">
        <i class="mdi mdi-36px mdi-linkedin"></i>
      </span>
    </a>
    <a href="https://www.facebook.com/jahidhasan0" class="has-text-primary">
      <span class="icon is-large">
        <i class="mdi mdi-36px mdi-facebook"></i>
      </span>
    </a>
    <a href="https://github.com/jahidhsn002" class="has-text-primary">
      <span class="icon is-large">
        <i class="mdi mdi-36px mdi-github"></i>
      </span>
    </a>
    <a href="https://gitlab.com/jahidhsn002" class="has-text-primary">
      <span class="icon is-large">
        <i class="mdi mdi-36px mdi-gitlab"></i>
      </span>
    </a>
    <div class="mt-4">
      <div class="handle m-auto"></div>
    </div>
  </div>
</div>
<div class="is-fixed is-right">
  <div class="is-flex is-flex-direction-column is-justify-content-center is-aligh-items-center">
    <a href="mailto:jahidhsn002@gmail.com" class="rotate has-text-primary is-size-5">
      jahidhsn002@gmail.com
    </a>
    <div class="mt-4">
      <div class="handle m-auto"></div>
    </div>
  </div>
</div>
</template>

<style scoped>
.is-fixed {
  position: fixed;
  bottom: 0px;
  max-width: 50px;
}
.is-left {
  left: 5px;
}
.is-right {
  right: 5px;
}
.handle {
  border-left: 1px solid #fff;min-height: 15vh;width: 0;
}
.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-bottom: 220px;
}
@media only screen and (max-width: 1023px) {
  .is-left, .is-right {
    display: none;
  }
}
</style>